body  {display: flex;
       justify-content: center;}

* {  box-sizing: border-box; }
 
thead 
@font-face {
    font-family:'FiraGO' ;
    src: url(./FiraGOR.ttf); }


h1   { display:inline-flex;
    width: 148px;
    height: 24px;   
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;  
    color: #000000;}

thead   {border: 1px solid #EDEDED;}

.table1  { width: 100%;
    border-collapse: collapse;}

.table1 > tbody > tr  { background-color:  #EDEDED;
    border: 1px solid #EDEDED;
    height: 84px;}

input   {padding-left: 24px; }

#inp1  {width: 359px;
    height: 50px;
    margin-left: 25px;
    border: 1px solid #ECECEC;
    border-radius: 10px;}

#inp2   {width: 266px;
    height: 50px;
    border: 1px solid #ECECEC;
    border-radius: 10px;}

#inp3   {width: 217px;
    height: 50px;
    border: 1px solid #ECECEC;
    border-radius: 10px;}

.button1   {width: 141px;
    height: 50px;  
    background: #FFDD04;
    border-radius: 10px;}

.button2  {width: 141px;
    height: 40px;
    background: #FFDD04;
    border-radius: 10px;
    margin-left: 807px;}
   

.action  { width: 200px;}

td   {width: 180px;}

.delete  {  
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px; 
    color: #000000;
    width: 93px;
    height: 33px;
    background: #FF8271;
    border-radius: 10px;}

.Edit   {font-family: 'FiraGO';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px; 
    color: #000000;
    width: 93px;
    height: 33px;
    background: #FFDD04;
    border-radius: 10px;}

